* {
   margin: 0;
   padding: 0;
   border: 0;
}

.grid-container {
   display: grid;
   min-height: 110vh;
   grid-template-columns: 180px 1fr;
   grid-template-rows: 50px 120px 1fr 50px;
   grid-template-areas:
      "nav nav"
      "aside header"
      "aside section"
      "footer footer"
   ;
}

.cabeza {
   display: grid;
   place-items: center;
   background-color: yellow;
   color: black;
   grid-area: nav;
   font-family: 'Hind', sans-serif;
   border: solid 1px black
}

.cabeza h1 {
   font-size: 24px;
   font-weight: 700;
}

.logo {
   display: grid;
   grid-area: header;
   place-items: center;
   background-color: black;
}

.logo img {
   width: 300px;
}

.lateral {
   background-color: yellow;
   grid-area: aside;
   border-right: solid 2px yellow;
   padding: 20px;
   font-family: 'Hind', sans-serif;
}

.lateral ul {
   display: flex;
   list-style: none;
   flex-direction: column;
   padding: 5px;
   justify-content: center;
   font-weight: 500;
   color: black;
}

.lateral li {
   padding-top: 20px;
}

.cat {
   padding-bottom: 20px;
   font-size: 18px;
   font-weight: 700;
}

.lateral h2 {
   font-size: 20px;
   font-weight: 700;
   color: black;
   padding-bottom: 30px;
}

.lateral img {
   width: 100%;
   padding-top: 300px;
}

.central {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-area: section;
   place-items: center;
   background-image: url(../images/fondo.jpg);
}



.pie {
   background-color: yellow;
   grid-area: footer;
   color: black;
   font-family: 'Hind', sans-serif;
   text-align: center;
   border: solid 1px yellow;
   border: solid 1px black;
}

.pie p {
   padding-top: 15px;
   font-weight: 700;

}

.cards {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 350px;
   width: 250px;
   background-color: white;
   font-family: 'Hind', sans-serif;
   border: solid 3px black;

}

.cards img {
   width: 100%;
}

.cards button {
   border-top: solid 1px black;
   color: yellow;
   background-color: black;
   padding-top: 5px;
   width: 250px;
   height: 30px;
   font-size: 12px;
   font-weight: 600;
}

.cards h2 {
   font-size: 16px;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: 700;
   text-align: center;
}

.cards p {
   padding-top: 10px;
   font-size: 14px;
   font-weight: 700;
   padding-bottom: 10px;
}